*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}
img{
    width: 55%;
}
body{
    background-color:#0a3d62;
    display: flex;
}
.center{
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: white;
}

section{
    
    text-align: center;
}
button{
    border: none;
    width: 100px;
    height: 50px;
  margin-top: 50px;
}
h1{
    margin: 30px;
    text-shadow: 5px 5px white;
    font-size: 60px;
    color: #f6b93b;
}
label{
    font-size: 50px;
    text-shadow: 5px 1px blue;
    color: coral;
    margin-bottom: 10px;
}